.pomodoro-timer {
  text-align: center;
  margin-top: 20px;
}

.timer {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 10px;
}

.buttons button {
  margin-right: 10px;
}
